@model IEnumerable<Project_EF.Models.ParentCate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Danh mục sản phẩm</h3>

<p>
    <a class="btn btn-success" asp-action="Create">Thêm mới</a>
</p>
<center>
    <table class="table table-bordered table-hover" style="background:white;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name_prcate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.image_prcate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name_prcate)
                    </td>
                    <td>
                        <img style="width:150px" src="~/images/@Html.DisplayFor(modelItem => item.image_prcate)" />
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-danger" asp-route-id="@item.Id">Chỉnh sửa</a>
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </center>
