@model Project_EF.ViewModel.ProductCreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveCustomer" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Product.name_product" class="control-label"></label>
                <input asp-for="@Model.Product.name_product" class="form-control" />
                <span asp-validation-for="@Model.Product.name_product" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Product.describe, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Product.describe, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.price" class="control-label"></label>
                <input asp-for="@Model.Product.price" class="form-control" />
                <span asp-validation-for="@Model.Product.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.sale" class="control-label"></label>
                <input asp-for="@Model.Product.sale" class="form-control" />
                <span asp-validation-for="@Model.Product.sale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.quarantee" class="control-label"></label>
                <input asp-for="@Model.Product.quarantee" class="form-control" />
                <span asp-validation-for="@Model.Product.quarantee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.producer" class="control-label"></label>
                <input asp-for="@Model.Product.producer" class="form-control" />
                <span asp-validation-for="@Model.Product.producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.status" class="control-label"></label>
                <select asp-for="@Model.Product.status" class="form-control">
                    <option selected>Còn hàng</option>
                    <option>Hàng order</option>
                    <option>Hết hàng</option>
                </select>
                <span asp-validation-for="@Model.Product.status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.image_product" class="control-label"></label>
                <input asp-for="@Model.Product.image_product" type="file" class="form-control" />
                <span asp-validation-for="@Model.Product.image_product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.material" class="control-label"></label>
                <input asp-for="@Model.Product.material" type="file" class="form-control" />
                <span asp-validation-for="@Model.Product.material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.ParentCateId" class="control-label"></label>
                <select id="lstCountry" asp-for="@Model.Product.ParentCateId" class="form-control" asp-items="@Model.ParentCate">
                    <option value="">Select Country</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.CategoryId" class="control-label"></label>
                <select id="lstCity" asp-for="@Model.Product.CategoryId" class="form-control" asp-items="@Model.Category">
                    <option value="">Select City</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Script{
    <script>CKEDITOR.replace("Product_describe")</script>

}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#lstCountry').change(function () {
            var selectedCountry = $("#lstCountry").val();

            var citySelect = $('#lstCity');
            citySelect.empty();

            if (selectedCountry != null &&
                selectedCountry != '') {
                $.getJSON('@Url.Action("GetCities")', { ParentCateId: selectedCountry }, function (cities) {
                    if (cities != null && !jQuery.isEmptyObject(cities)) {
                        citySelect.append($('<option/>', {
                            value: null,
                            text: "Select City"
                        }));

                        $.each(cities, function (index, city) {
                            citySelect.append($('<option/>', {
                                value: city.value,
                                text: city.text
                            }));
                        });
                    };
                });
            }
        });
    })
</script>
}
