@model Project_EF.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h5>Bạn có chắc muốn xóa sản phẩm này?</h5>
<div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Hình ảnh
                </th>
                <th>
                    Tên SP
                </th>
                
                <th>
                    Giá gốc
                </th>
                <th>
                    Giá KM
                </th>
                <th>
                    Bảo hành
                </th>
                <th>
                    Chất liệu
                </th>
                <th>
                    Nhà cung cấp
                </th>
                <th>
                    Tình trạng
                </th>
                <th>
                    Ngày nhập
                </th>
                <th>
                    Danh mục cha
                </th>
                <th>
                    Danh mục con
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <img title="Hình ảnh sản phẩm" src="~/images/@Html.DisplayFor(model=>model.image_product)" width="90px" />
                </td>
                <td>
                    @Html.DisplayFor(model => model.name_product)
                </td>
               
                <td>
                    @Html.DisplayFor(model => model.price)đ
                </td>
                <td>
                    @Html.DisplayFor(model => model.sale)đ
                </td>
                <td>
                    @Html.DisplayFor(model => model.quarantee)
                </td>
                <td>
                    @Html.DisplayFor(model => model.material)
                </td>
                <td>
                    @Html.DisplayFor(model => model.producer)
                </td>
                <td>
                    @Html.DisplayFor(model => model.status)
                </td>
                <td>
                    @Html.DisplayFor(model => model.date_add)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ParentCate.name_prcate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Category.name_cate)
                </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index">Trở về</a>
    </form>
</div>
