@model Project_EF.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name_product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name_product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.describe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.describe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.count_pr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.count_pr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_add)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_add)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image_product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image_product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentCate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentCate.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
