@model IEnumerable<Project_EF.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name_product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.describe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.count_pr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_add)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image_product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name_product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.describe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.count_pr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_add)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image_product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCate.name_prcate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.name_cate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
