@model PaginatedList<Project_EF.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Từ khóa: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Tìm kiếm" class="btn btn-default" /> |
            <a asp-action="Index">Danh sách đầy đủ</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên SP
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Giá gốc
            </th>
            <th>
                Giá KM
            </th>
            <th>
                Bảo hành
            </th>
            <th>
                Chất liệu
            </th>
            <th>
                Nhà cung cấp
            </th>
            <th>
                Tình trạng
            </th>
            <th>
                <a style="color:#333" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Ngày nhập</a>
            </th>
            <th>
                Danh mục cha
            </th>
            <th>
                Danh mục con
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img title="Hình ảnh sản phẩm" src="~/images/@item.image_product" width="90px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name_product)
            </td>
            <td>
                @Html.Raw(item.describe.Substring(0, 50))
            </td>
            <td>
                @string.Format("{0:#,##0.##}", item.price)đ
            </td>
            <td>
                @string.Format("{0:#,##0.##}", item.sale)đ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quarantee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_add)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCate.name_prcate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.name_cate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
        }
    </tbody>
</table>
