@model IEnumerable<Project_EF.Models.Ad>

<div id="UserRole"></div>
<button type="button" class="btn btn-outline-info float-right" data-toggle="modal" data-target="#addLogin" data-url="@Url.Action("CreateUser")">Thêm mới</button>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.displayname)
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.displayname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="update-modal" data-target="#updateCate" data-url="@Url.Action($"Edit/{item.Id}")">Vô hiệu</button>
                </td>
            </tr>
        }
    </tbody>
</table>
